
.mycontent{
  flex-grow: 1;
}

menu{
  width: 100%;
  background-color:#B8563E;
  color:white;
  height:60px; 
  text-align: left;
} 

footer{
  width: 100%;
  background-color: rgb(52, 61, 36);
  color:thistle;
  position:absolute;
  bottom:0;
  height:60px; 
} 

th {
  background: 	#394B40;
  color: white;
  padding: 10px 20px;
}

td {
  background:	#556e5f;
  color:white;
  padding: 10px 20px;
}
